li a{
color:green;
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa17AzmrTYp7OswIDG3XOs2ZuKeyMyMo_FbmiIvmidMw_kQPEJQw");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}